*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  --background-color: #1e1e1e;
  --foreground-color: #dddddd;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--background-color);
  color: var(--foreground-color);
  height: 100vh;
  margin: 0;
  padding: 0;
}

.button-new-grid {
  margin: 0;
  color: var(--foreground-color);
  background-color: var(--background-color);
  border: 2px solid var(--foreground-color);
  border-radius: 4px;
}

.container {
  display: flex;
  flex-direction: column;
  border: 2px solid var(--foreground-color);
}

.grid-row {
  display: flex;
  flex: 1;
}

.grid-pixel {
  flex: 1;
}
