*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  --background-color: #1e1e1e;
  --foreground-color: #dddddd;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  color: var(--foreground-color);
  height: 100vh;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--foreground-color);
}
